body {
    background-color: #aab7c5;
}

#main-container {
    width: 70vw;
    height: 100vh;
}

#wrapper-info-container {
    display: flex;
    justify-content: flex-start;

    width: 50%;
    height: 40%;
    gap: 15px;

    margin-top: 10vh;
    border-radius: 10px;
}

.profile-icon-img {
    width: 30%;
    margin-top: 35px
}

#profile-icon {
    width: 190px;
    height: 190px;

    border-radius: 100%;
}

#info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    color: rgb(184, 180, 180);
    gap: 5px;
}

strong {
    color: purple;
}

/* @media (min-width: 920px) and (max-width: 1200px) {
    #wrapper-info-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 60%;
        height: 30%;

        border-radius: 5px;
        margin-top: 10vh;
    }

    #profile-icon {
        width: 14vh;
        height: 18vh;
    }


} */